header{
  display: flex;
  justify-content: center;
  margin-bottom: 3vw;
}
body {
	user-select: none;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(224, 0 ,116 , 20%);
	height: 100vh;
}

 .errorLabel{
   display: flex;
   justify-content: center;
   color:red;
   font-size: .7vw;
   text-decoration:underline;
   height: .8vw;
  }
.email {
		background: hsl(0deg 0% 100%);
		box-shadow: 0 0 2em hsl(231deg 62% 94%);
		padding: 1em;
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		border-radius: 20px;
		color: hsl(0deg 0% 30%);
		margin-top: -3em;
  }
  .password {
	background: hsl(0deg 0% 100%);
	box-shadow: 0 0 2em hsl(231deg 62% 94%);
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	border-radius: 20px;
	color: hsl(0deg 0% 30%);
  }
  .login {
	padding: 1em;
	background: rgb(224,0,116);
	color: white;
	border: none;
	border-radius: 15px;
	font-weight: 600;
    cursor: pointer;
	}
  .signup {
	padding: 1em;
	background: violet;
	color: hsl(0,0,100);
	border: none;
	border-radius: 15px;
	font-weight: 600;
    cursor: pointer;
	}
  .buttons{
    margin-top: .5vw;
    gap: 2vw;
    display: flex;
    justify-content: space-between;
  }
  .changeview{
    padding: 1em;
	background: rgb(224,0,116);
	color: white;
	border: none;
	border-radius: 5px 20px 0 0;
	font-weight: 600;
    cursor: pointer;
  }
  .logout{
	padding: 1em;
	background: red;
	color: white;
	border: none;
	border-radius: 20px 5px 0 0;
	font-weight: 600;
    cursor: pointer;
  }
  .selected{
    background-color: rgb(0, 209, 224);
    
  }
  .datetimepickerdiv{
	  display: flex;
	  justify-content: space-between;
	  padding-bottom: 2px;
  }
  .datetimepickerlabels{
	  display: flex;
	  justify-content: space-between;
  }
  /* .endlabel{
	  position: relative;
	  right:6vw;
  } */
  nav{
    border-bottom: 2px solid black;
	display: flex;
	justify-content: space-between;
  }
table, td, th {
  border: 1px solid black ;
}

table {
  border-collapse: collapse;
  text-align: center;
  background-color: white;
}
td, th, tr{
  padding-left: 5vw;
  padding-right: 5vw;
}
.bth{
  color: blue;
}



/**********************DATE TIME PICKER**********************/

.react-datetime-picker__wrapper{
	background-color: white;
	border: solid black  1px;
	border-radius: 10px 10px 10px 10px;
}
.react-calendar,
.react-datetime-picker__clock,
.react-datetime-picker__clock--open{
	border: solid black  1px;
	border-radius: 10px;
}
.react-calendar__tile--active, 
.react-calendar__tile--now,
.react-calendar__month-view__days__day,
.react-calendar__navigation__arrow{
	border: none;
	border-radius: 10px;
}
.react-calendar__navigation__label__labelText{
	font-weight: bolder;
}
.react-calendar__tile--range{
	background-color: rgb(224,0,116);
}
.react-calendar__tile--now{
	background-color: aquamarine;
}
.react-calendar__month-view__days__day:disabled{
	background-color: rgb(224,0,116, 15%);
}