header {
	display: flex;
	justify-content: center;
	margin-bottom: 3vw;
}

body {
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background: gray;
	height: 100%;
	overflow-y: scroll;
	background-image: url(https://werbenet.telekom.de/dtag/images/Login_Backgrounds/DT_Wallpaper_Communication_02_1920x1200_rgb.jpg);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
	text-decoration-line: underline;
	font-size: 3vw;
	text-shadow: 0 0 1em white;
}

h2 {
	text-shadow: 0 0 1em white;

}

nav {
	border-bottom: 2px solid black;
	display: flex;
	justify-content: space-between;
}

td,
tr,
th {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

tr,
th:last-child,
td:last-child {
	border-right: 0;
}

table,
th,
tr:first-child {
	border-top: 0;
}

th {
	border-bottom: 0;
}

table,
td,
tr:last-child {
	border-bottom: 0;
}

table {
	border-collapse: collapse;
	text-align: center;
	background-color: rgb(255, 255, 255, 65%);
	width: 75vw;
	font-size: 1vw;
	border-radius: 10px;
}

td,
th,
tr {
	padding-left: 5vw;
	padding-right: 5vw;
}

form {
	vertical-align: center;
}

button {
	font-size: .85em;
}

.homepageheadlinediv {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.inputdiv {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.errorLabel {
	display: flex;
	justify-content: center;
	color: white;
	font-size: .7vw;
	text-decoration: underline;
	height: .8vw;
	margin-bottom: .2vw;
}

.email {
	background: hsl(0deg 0% 100%);
	box-shadow: 0 0 1em hsl(231deg 64% 64%);
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	border-radius: 20px;
	color: hsl(0deg 0% 30%);
	width: 10vw;
	height: 1vw;
	font-size: .75vw;
	border: none;
}

.emaillogin {
	background: hsl(0deg 0% 100%);
	box-shadow: 0 0 1em hsl(231deg 64% 64%);
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	border-radius: 20px;
	color: hsl(0deg 0% 30%);
	margin-bottom: 1vw;
	width: 10vw;
	height: 1vw;
	font-size: .75vw;
	border: none;
}

.registercontrol {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.password {
	background: hsl(0deg 0% 100%);
	box-shadow: 0 0 .5em hsl(231deg 64% 64%);
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	border-radius: 20px;
	color: hsl(0deg 0% 30%);
	width: 10vw;
	height: 1vw;
	font-size: .75vw;
	border: none;
}

.login {
	padding: 1em;
	background: rgb(0, 102, 51);
	box-shadow: 0 0 .5em rgb(0, 102, 51, 30%);
	color: white;
	border: none;
	border-radius: 15px;
	font-weight: 600;
	cursor: pointer;
}

.signup {
	padding: 1em;
	background: rgb(26, 198, 255);
	color: hsl(0, 0, 100);
	box-shadow: 0 0 .5em rgb(26, 198, 255, 30%);
	border: none;
	border-radius: 15px;
	font-weight: 600;
	cursor: pointer;
}

.export {
	margin-top: 10px;
	padding: 1em;
	background: rgb(35, 194, 59);
	background-image: url(https://img.icons8.com/small/32/export.png);
	background-repeat: no-repeat;
	color: hsl(0, 0, 100);
	box-shadow: 0 0 .5em rgba(79, 255, 26, 0.3);
	border: none;
	border-radius: 5px;
	height: 30px;
	width: 30px;
	font-weight: 600;
	cursor: pointer;
}

.secondNav {
	border: none;
}

.buttons {
	margin-top: .5vw;
	gap: 2vw;
	display: flex;
	justify-content: space-between;
	width: 12vw;
}

.changeview {
	padding: 1em;
	background: rgb(0, 102, 51);
	box-shadow: 0 0 .5em rgb(0, 102, 51, 30%);
	color: white;
	border: none;
	border-radius: 5px 20px 0 0;
	font-weight: 600;
	cursor: pointer;
}

.logout {
	padding: 1em;
	background: red;
	box-shadow: 0 0 .5em rgb(225, 0, 0, .5);
	color: white;
	border: none;
	border-radius: 20px 5px 0 0;
	font-weight: 600;
	cursor: pointer;
}

.hovered {
	background-color: rgb(0, 209, 224, .2);
}

.selected {
	background-color: rgb(0, 209, 224);
}

.datetimepickerdiv {
	display: flex;
	justify-content: space-between;
	margin-bottom: .5vw;
}

.datetimepickerlabels {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.1vw;
}

.reservations {
	border-top: 2px dotted black;
	margin-top: 2vw;
}

.endlabel {
	margin-right: 5.5rem;
	text-shadow: 0 0 .5em white;
	font-size: 1.5em;
}

.startlabel {
	text-shadow: 0 0 .5em white;
	font-size: 1.5em;
}

.css-1s2u09g-control {
	box-shadow: 0 0 .5em hsl(231deg 64% 64%);
}

/**********************DATE TIME PICKER**********************/

.react-datetime-picker__wrapper {
	background-color: rgb(255, 255, 255, 65%);
	border: none;
	border-radius: 10px;
}

.react-calendar,
.react-datetime-picker__clock,
.react-datetime-picker__clock--open {
	border: solid black 1px;
	border-radius: 10px;
}

.react-calendar__tile--active,
.react-calendar__tile--now,
.react-calendar__month-view__days__day,
.react-calendar__navigation__arrow {
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.react-calendar__navigation__label__labelText {
	font-weight: bolder;
}

.react-calendar__tile--range {
	background-color: rgb(0, 102, 51);
}

.react-calendar__tile--now {
	background-color: aquamarine;
}

.react-calendar__month-view__days__day:disabled {
	background-color: rgb(0, 102, 51, 15%);
}

.react-datetime-picker__inputGroup__input {
	min-width: .5vw;
	min-height: 1.2vw;
	font-size: .9vw;
	border: none;
	cursor: pointer;
}


/************************************FILTER*********************************************************/

.filterdiv {
	display: flex;
	margin-top: 1rem;
	margin-bottom: 1rem;
	justify-content: center;
}

.filterInput {
	background: hsl(0deg 0% 100%);
	box-shadow: 0 0 .5em hsl(231deg 64% 64%);
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	color: hsl(0deg 0% 30%);
	height: 2rem;
	margin-left: 1vw;
	width: 63.5vw;
	border: none;
}

.filterInputHomePage {
	background: hsl(0deg 0% 100%);
	box-shadow: 0 0 .5em hsl(231deg 64% 64%);
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	color: hsl(0deg 0% 30%);
	height: 2rem;
	margin-left: 1vw;
	width: 63.5vw;
	border: none;
}

/*********************DROPDOWN MENU************************/

.css-1s2u09g-control,
.css-b62m3t-container {
	width: 10vw;
}

.css-tj5bde-Svg,
.css-6j8wv5-Input {
	cursor: pointer;
}

/*********************media screen size************************/
@media screen and (min-aspect-ratio: 16/9) {

	/* Specific to this particular image */
	body {
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}